@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#h{ /**/
    position: relative;
    width: 100%;
    height: 100vh;
    background: /*#ff0157*/url("img/drink5.jpg");
    background-size: 110%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /*центр страницы по ширене*/
    align-items: center; /*центр по высоте*/
}
body{
    background-color: #111;
}
span{
    color: #ff0157;
    font-weight: 700;
}
/*HEADER*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    z-index: 100;
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.sticky{ /*Белое меню*/
    background-color: #fff;
    /*color: #000;*/
    padding: 5px 90px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.sticky a{
    color: #111;
}
header ul li a:hover{
    color: #ff0157;   

}
.sticky a:hover{
    color: #ff0157;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
    margin-left: 30px;
}
header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300
}
/*/HEADER/*/
h1{
    color: #999;
    text-align: center;
    font-size: 3em;
}

section{
    padding: 100px;
    color: #111;
    background-color: #e4e4e4/*#FF8F42*/;
}

section h2{
    font-size: 2.5em;
    margin-bottom: 10px;
}
section p{
    font-size: 1.2em;
}

/*about*/
.row{
    position: relative;
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
}
.row .col50{
    position: relative;
    width: 49%;
}
.row .col50 h2{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.row .col50 p{
    margin-right: 30px;
}

.row .col50 .imgBx{
    position: relative;
    width: 100%;
    /*min-height: 600px;*/
    height: 100%;
}

.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 12px 12px 0 1px  #ff0157;
}
